---
import Arrow from './Arrow.astro';

interface Props {
	name: string;
  thumbnail: string;
  slug: string;
  number: string;
}

const { name, thumbnail, slug, number } = Astro.props;
---

<a href={`/${slug}`} class="card arrow-target">
  <div class="title">
    <span>{number}</span>
    <div class="name">
      <Arrow />
      <h2>{name}</h2>
    </div>
  </div>
  <div class="thumbnail">
    <div class="screen">
      <img src={thumbnail} alt={name} srcset="">
    </div>
  </div>
</a>

<style>
  a.card {
    display: block;
    width: 100%;
    border-top: 1px solid var(--color-border);
    text-decoration: none;
  }
  .title {
    display: flex;
    justify-content: space-between;
    padding: .75rem 0;
  }
  .title h2, .title span{
    font-family: var(--font-monospace);
    color: var(--color-text);
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: 400;
  }
  .title .name {
    display: flex;
    align-items: center;
  }
  .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    padding: 2rem;
    background-color: var(--color-card);
    border-radius: .5rem;
    transition: all 150ms ease-out;
  }
  .thumbnail .screen {
    width: 100%;
    background-color: var(--color-border);
    padding: .5rem;
    border-radius: .75rem;
  }
  .thumbnail img {
    width: 100%;
    height: auto;
    border-radius: .25rem;
  }
  a.card:hover .thumbnail {
    padding: 1.75rem;
  }
</style>